<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h1>User List</h1>

<img src="http://ec2-13-209-76-58.ap-northeast-2.compute.amazonaws.com/gorilla.jpeg" alt="고릴라우오우오!">
<img src="http://ec2-13-209-76-58.ap-northeast-2.compute.amazonaws.com/gorilla.jpeg" alt="crossorigin 설정 된 이미지(터집니다.)" crossorigin="use-credentials">
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a>
            <a th:href="@{/users/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
</table>

<h2>Add User</h2>
<form th:action="@{/users}" method="post">
    <label>Name: <input type="text" name="name" required></label>
    <label>Email: <input type="email" name="email" required></label>
    <input type="submit" value="Add">
</form>
</body>
</html>
